body{

	padding: 0px;
	background-color: black;
	margin-top:180px;
}
table{
	border: 5px solid blue;
	width: 480px;
	height: 230px;
}
input[type="text"]{
	width: 540px;
	height: 50px;
	font-family:cursive;
	text-align: center;
	font-size: 20px;
	font-weight: bolder;
	border: 5px solid blue;
}
input[type="button"]{
	font-weight: bolder;
	border: none;
	font-size: 18px;
	background-color: lightblue;
	padding: 15px;
	width: 105px;
}

input[type="button"]:hover{
	background-color: navy;

	transition: background-color 2s;
	color: white;

}


